.App {
  text-align: center;
  font-size: 6vw;
  color:rgb(255, 255, 255);
  }

#pro {
  padding-top: 2vw;
}

* {
  font-size: 7vw;
}

#pos_price {
  color: rgb(23, 146, 23);
}

#neg_price {
  color:rgb(236, 47, 47);
}

#doge_count {
  color:#cea606;
  /* color:#e1b303; */
}

#doge_logo_img {
  width: 5vw;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1.5vw;
}

#spaceing {
  padding:10px;
}

h3 {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 10vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media only screen and (min-width: 1100px) {
  #pro {
    width: 20vw;
    height: auto;
  }
}

/* @media only screen and (min-width:1412px)and (max-width:2000px){ */

@media only screen and (min-width:950px) and (max-width: 1100px) {
  #pro {
    width: 30vw;
    height: auto;
  }
}

@media only screen and (min-width:750px) and (max-width: 950px) {
  #pro {
    width: 50vw;
    height: auto;
  }
}

@media only screen and (min-width:550px)  and (max-width: 750px) {
  #pro {
    width: 76%;
    height: auto;
  }
}

@media only screen and (max-width: 550px) {
  #pro {
    width: 100%;
    height: auto;
  }

  * {
    font-size: 9vw
  }
}