.App {
  text-align: center;
  }

.price {
  font-size: 7vw;
}

#pos_price {
  color: rgb(23, 146, 23);
}

#neg_price {
  color:rgb(236, 47, 47);
}

#doge_count {
  color:#cea606;
  /* color:#e1b303; */
}

.equals {
  color:white;
}

#doge_logo_img {
  width: 5vw;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
}

#spaceing {
  padding:0px;
}

h3 {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 10vw;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

.signature {
  position: fixed;
  bottom: 5px;
  left: 0px;
  font-size: 1vw;
}

.signature-name{
  letter-spacing: 0;
  font-size: 1vw;
}

@media only screen and (min-width: 1700px){
  #pro {
    width: 18vw;
    height: auto;
  }

  .price{
    font-size: 4.5vw;
  }

  #doge_logo_img {
    width: 3.3vw;
    height: auto;
  }

  #spaceing {
    padding:15px;
  }

}

@media only screen and (min-width: 1100px) and (max-width: 1700px){
  #pro {
    width: 20vw;
    height: auto;
  }

  .price {
    font-size: 4.5vw;
  }

  #doge_logo_img {
    width: 3.3vw;
    height: auto;
  }

  #spaceing {
    padding:15px;
  }
}

@media only screen and (min-width:950px) and (max-width: 1100px) {
  #pro {
    width: 30vw;
    height: auto;
  }
}

@media only screen and (min-width:750px) and (max-width: 950px) {
  #pro {
    width: 40vw;
    height: auto;
  }
}

@media only screen and (min-width:550px)  and (max-width: 750px) {
  #pro {
    width: 65%;
    height: auto;
  }
}

/* Most phones */
@media only screen and (max-width: 550px) {
  #pro {
    width: 65%;
    height: auto;
    padding-top: 17vw;
  }

  .prothedoge {
    font-size: 15px;
  }

  * {
    font-size: 9vw
  }

  .signature {
    font-size: 2.5vw;
  }
  
  .signature-name{
    font-size: 2.5vw;
  }
}