body {
  background: #ffea95;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.standard-font {
  color: rgb(65, 65, 65);
  /* font-weight: 600; */
}

#Navbar {
  justify-content: center;
  padding-top: 250px !important;
}

#social_tag {
  text-decoration: none;
}

#social_tag:hover{
  text-decoration:underline;
  text-decoration-color: #cea606;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
