* {
    padding-top: 3px ;
    margin-top: 0px ;
}

.nav {
    float: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    list-style-type: none;
    display: inline-block;
    padding-right: 1vw;
    padding-left: 1vw;
  }

/* ul {
    width: 70%;
    margin: auto;
} */

  a {
    font-size: 2.5vw;
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration:underline;
    text-decoration-color: #cea606;
  }

  @media only screen and (max-width: 800px) {
    a {
        font-size: 3.6vw;
        padding-left: .6vw;
        padding-right: .6vw;
    }

    .nav{
        float:center;
        width: 100%;
        text-align: center;
        padding-right: 100px;
        padding-left: 1px;
        padding-right: 1px;
    }

    * { margin:0; padding:0; } 

        ul {
            width: 100%;
            margin: auto;
        }

  } 

   @media only screen and (min-width: 800px) and (max-width: 1500px){
    
    a {
        font-size: 1.5vw;
        letter-spacing: 8px;
        padding-right: .5vw; 
        padding-left: .5vw;
        font-weight: 400;
    }
   
    .nav{
        width: 100%;
        text-align: center;
    }
    }

    @media only screen and (min-width: 1500px)  {
        a {
            font-size: 1.5vw;
            letter-spacing: 12px;
            padding-right: 1.5vw; 
            padding-left: 1.5vw;
            font-weight: 400;
        }
        .nav{
            width: 100%;
            text-align: center;
        }
    }

